{% extends "layout.html" %}

{% block title %}
    Añadir Articulo
{% endblock %}

{% block main %}
    <form action="/articles/add" method="post" style="max-width: 400px;">
        <h2>Añadir un articulo</h2>
        <p><small>* Significa obligatorio</small></p>
        <div class="row justify-content-center">
            <div class="col">
                <div class="form-floating mb-3">
                    <input value="{{ descripcion }}" maxlength="30" autocomplete="off" autofocus class="form-control" name="descripcion" id="descripcion" placeholder="Descripcion*" type="text">
                    <label for="descripcion">Descripcion*</label>
                </div>
                <div class="form-floating mb-3">
                    <input value="{{ cantidad }}" pattern="/^-?\d+\.?\d*$/" onKeyPress="if(this.value.length==10) return false;" autocomplete="off" autofocus class="form-control" name="cantidad" id="cantidad" placeholder="Stock Actual*" type="number">
                    <label for="cantidad">Stock Actual*</label>
                </div>
                <div class="form-floating mb-3">
                    <input value="{{ color }}" maxlength="15" autocomplete="off" class="form-control" name="color" id="color" placeholder="Color" type="text">
                    <label for="color">Color</label>
                </div>
                <div class="form-floating mb-3">
                    <input value="{{ costo }}" pattern="/^-?\d+\.?\d*$/" onKeyPress="if(this.value.length==10) return false;" autocomplete="off" class="form-control" name="costo" id="costo" placeholder="Costo*" type="number">
                    <label for="costo">Costo*</label>
                </div>
            </div>
        </div>
        <button class="btn btn-outline-dark" type="submit">Añadir</button>
    </form>
{% endblock %}
