{% extends "layout.html" %}

{% block title %}
    Clientes
{% endblock %}

{% block main %}
<h1>Lista de Articulos</h1>

<a class="btn btn-outline-dark mb-3" type="submit" href="/articles/add">Añadir</a>

<table class="table table-bordered">
    <thead>
        <tr class="table-active">
            <th scope="col">Descripcion</th>
            <th scope="col">Stock</th>
            <th scope="col">Color</th>
            <th scope="col">Costo</th>
            <th scope="col">Valor</th>
            <th scope="col">Acciones</th>
        </tr>
    </thead>
    <tbody>
        {% for articulo in articulos %}
        <tr>
            <td class="align-middle">{{ articulo.descripcion }}</td>
            <td class="align-middle">{{ articulo.cantidad }}</td>
            <td class="align-middle">{{ articulo.color }}</td>
            <td class="align-middle">${{ articulo.costo }}</td>
            <td class="align-middle">${{ articulo.valor }}</td>
            <td class="align-middle">
                <div class="d-grid gap-2">
                    <a class="btn btn-primary d-none">Editar</a>
                    <form action="/articles/delete" method="POST">
                        <input type="hidden" name="id" value="{{ articulo.id }}">
                        <button type="submit" class="btn btn-danger">Eliminar</button>
                    </form>
                </div>
            </td>
        </tr>
        {% else %}
        <tr>
            <td colspan="6">No hay artículos disponibles.</td>
        </tr>
        {% endfor %}
    </tbody>    
</table>

{% endblock %}