{% extends "layout.html" %}

{% block title %}
    Editar Pedido
{% endblock %}

{% block main %}
  <div class="container">
    <h1 class="mb-4">Editar Pedido</h1>
    <form method="POST" action="/orders/edit/info/{{ order.id }}" style="max-width: 700px;">
      <!-- Selección de cliente -->
      <div class="form-group">
        <label for="cliente">Cliente</label>
        <select class="form-control" id="cliente" name="cliente">
          {% for cliente in clientes %}
            <option value="{{ cliente.id }}" {% if cliente['id'] == order['cliente_id'] %}selected{% endif %}>{{ cliente.nombre }}</option>
          {% endfor %}
        </select>
      </div>
      <!-- Selector de fecha estimada de entrega -->
      <div class="form-group">
        <label for="fechaEntrega">Fecha Estimada de Entrega</label>
        <input type="date" class="form-control" id="fechaEntrega" name="fechaEntrega" value="{{ order['fecha_de_entrega'].strftime('%Y-%m-%d') }}">
      </div>
      <!-- Totales del Pedido -->
      <div class="form-group">
        <label for="totalPrecioPedido">Precio Total del Pedido</label>
        <input type="text" class="form-control" id="totalPrecioPedido" name="totalPrecioPedido" value="{{ order.valor }}">
      </div>

      <button type="submit" class="btn btn-success">Actualizar Pedido</button>
    </form>
  </div>
{% endblock %}
