{% extends "layout.html" %}

{% block title %}
Pedidos
{% endblock %}

{% block main %}
<h1>Pedidos</h1>

<a class="btn btn-outline-dark mb-3" type="submit" href="/orders/add">Añadir Pedido</a>

{% for pedido in pedidos %}

<div class="card text-center mx-auto mb-3" style="max-width: 500px;">
    {% if pedido["estado"] == "Pendiente de Seña" %}
    <div class="alert alert-secondary" role="alert">
        Pedido pendiente de seña - <a class="alert-link" href="/orders/edit/state/{{ pedido['id'] }}/next">Siguiente</a>
    </div>
    {% elif pedido["estado"] == "En proceso" %}
    <div class="alert alert-warning" role="alert">
        <a class="alert-link" href="/orders/edit/state/{{ pedido['id'] }}/prev">Anterior</a> - Pedido en proceso - <a class="alert-link" href="/orders/edit/state/{{ pedido['id'] }}/next">Siguiente</a>
    </div>
    {% elif pedido["estado"] == "En entrega" %}
    <div class="alert alert-info" role="alert">
        <a class="alert-link" href="/orders/edit/state/{{ pedido['id'] }}/prev">Anterior</a> - Pedido en entrega - <a class="alert-link" href="/orders/edit/state/{{ pedido['id'] }}/next">Siguiente</a>
    </div>
    {% elif pedido["estado"] == "Entregado" %}
    <div class="alert alert-success" role="alert">
        <a class="alert-link" href="/orders/edit/state/{{ pedido['id'] }}/prev">Anterior</a> - Pedido entregado - <a class="alert-link" href="/orders/edit/state/{{ pedido['id'] }}/next">Cancelar</a>
    </div>
    {% elif pedido["estado"] == "Cancelado" %}
    <div class="alert alert-danger" role="alert">
        <a class="alert-link" href="/orders/edit/state/{{ pedido['id'] }}/prev">Anterior</a> - Pedido cancelado
    </div>
    {% endif %}

    <div class="card-body">
        <div class="row justify-content-center">
            <div class="">
                <div class="card-body">
                    <h4>{{ pedido["cliente"]["nombre"] }}</h4>
                    <div class="card-text"><strong>Inicio:</strong> {{ pedido["fecha_de_inicio"] }}</div>
                    <div class="card-text"><strong>Entrega Estimada:</strong> {{ pedido["fecha_de_entrega"] }}</div>
                    <div class="card-text"><strong>Costo Total:</strong> ${{ "{:,.2f}".format(pedido["costo"]) }}</div>
                    <div class="card-text"><strong>Valor:</strong> ${{ "{:,.2f}".format(pedido["valor"]) }}</div>
                    <a href="/orders/see/{{ pedido['id'] }}" class="btn btn-primary mt-3">Ver Pedido</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% else %}

<h3>No hay nada por acá</h3>

{% endfor %}


{% endblock %}